body{
    background-color: yellow;
}
.box {
    background-color: white;
    width: 500px;
    margin: auto; 
    margin-top: 1%; 
    padding: 0;
    border: solid black;
    display: grid;
    place-items: center; 
  }


  
  .box1 {
    background-color: white;
    width: 260px;
    margin-top: 2%;
    padding: 20px;
    border: solid black;
    text-align: left;
    display: grid;
  }
  
  .row {
    display: grid;
    gap: 10px; /* Adjust the gap between boxes */
    grid-template-columns: auto auto auto;
    justify-content: center; /* Center the grid horizontally */
  }
  
  /* Media query for smaller screens */
  @media only screen and (max-width: 768px) {
    .row {
      grid-template-columns: auto auto; /* Change to 2 columns on smaller screens */
      margin-left: auto; /* Remove left margin to center the grid */
      margin-right: auto; /* Remove right margin to center the grid */
    }
  }
  
  @media only screen and (max-width: 480px) {
    .row {
      grid-template-columns: auto; /* Change to 1 column on even smaller screens */
    }
  }
  